.footer {
  background-color: #191919;
  color: #fff;
  align-self: stretch;
}

.footerWrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  border-top: 1px solid #fff;

  @media (max-width: 991px) {
    flex-direction: column;
  }
}

.socialIcons {
  margin-top: 20px;
}

.footerLogo {
  @media (max-width: 991px) {
    display: none;
  }
}