.why {
  background-color: #fff;
  color: #2d2d2d;

  @media (max-width: 991px) {
    padding: 100px 1rem !important;
  }
  
  & .whyText {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 5rem;
    flex: 1 1 auto;

    @media (max-width: 991px) {
      padding: 0 3rem;
    }
    
    @media (max-width: 544px) {
      padding: 0 1.5rem;
    }
  }

  & .whyImg {
    background-image: url('../images/why.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex: 1 0 auto;

    @media (max-width: 991px) {
      display: none;
    }
  }

  & .whyList {
    font-size: 1.2rem;
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;

    & > div {
      flex: 1 0 42%;
      padding: 0 2%;
      margin-bottom: 40px;
    }

    svg {
      display: block;
      text-align: center;
      margin: 0 auto 20px;
    }

    @media (max-width: 544px) {
      flex-direction: column;
    }
  }
}